*,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-navbar: #F8F8F8;
    --color-typography-logo: #545454;
    --color-primary: #FF5722;
    --color-secondary-light:#FFF6F2;
    --color-secondary-dark: #FFA589;
    --color-white: #FFFFFF;
    --color-body: #333333;
    --color-headings: #000000;

}

body{
    color: var(--color-body);
}
h1,h2,h3{
    color: var(--color-headings);
}