/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-navbar: #f8f8f8;
  --color-typography-logo: #545454;
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-white: #ffffff;
  --color-body: #333333;
  --color-headings: #000000;
}
html {
  font-size: 62.5%;
}

/* UTILITY */
body {
  color: var(--color-body);
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  color: var(--color-headings);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
@media (min-width: 1024) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

/* BUTTONS */
.btn {
  outline: none;
  border: 0;
  font-size: 1.4rem;
  padding: 1.9rem 2.4rem;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 1.8rem;
  }
}

/* BADGE */
.badge {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  border: 2px solid;
  border-radius: 32px;
  padding: 1rem 1.5rem;
  line-height: 2rem;
  text-align: right;
  text-transform: uppercase;
}
.badge--primary {
  background-color: #fe4e00;
  color: var(--color-white);
  border-color: #ff7a50;
}
.badge--secondary {
  background-color: #fff6f2;
  color: var(--color-primary);
  border-color: #fe4e00;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* LISTS */
.list {
  list-style: none;
  font-family: 'vazir';
}
.list--inline .list__item {
  display: inline-block;
  font-size: 1.5rem;
  text-align: right;
  color: #545454;
  font-weight: 700;
  line-height: 2.1rem;
  margin-left: 2rem;
}

/* .list--tick .list__item::before{
    content: '';
    background: url(../assets/images/Tick-Square.svg) no-repeat;
    height: 20px;
    width: 20px;
    padding-right: 3rem;
} */

.list--tick .list__item {
  font-size: 1.8rem;
  color: #444242;
  text-align: right;
  font-weight: 500;
  line-height: 3.6rem;
  margin-bottom: 1.5rem;
  background: url(../assets/images/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 2rem;
  }
}

/* PLANS */
.block-plan {
  display: grid;
  gap: 10.8rem 5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 5rem;
}
.plan {
  transition: all 0.3s ease-in;
}
.plan--papular {
  margin-top: -30px;
}
.plan:hover {
  transform: scale(1.05);
}

.plan--primary .card__header {
  background-color: var(--color-primary-light);
}

.card {
  border-radius: 20px;
  overflow: hidden;
  font-family: 'vazir';
  line-height: 3.6rem;
}
.card__header,
.card__body {
  padding: 3.4rem 2.2rem;
}
.card__header {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.card__body {
  background-color: var(--color-secondary-light);
}
.card__body .btn {
  margin-top: 10rem;
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.plan__name {
  font-size: 1.8rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  margin-top: 2rem;
  font-size: 1.8rem;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* feature */
.feature {
  display: grid;
  font-family: 'vazir';
  text-align: right;
}
.feature__title {
  font-weight: 700;
  line-height: 3.1rem;
  margin-bottom: 2rem;
}
.feature__text {
  font-weight: 400;
  line-height: 2.8rem;
}
.feature__detail {
  margin-top: 3.8rem;
  height: 100%;
}
.feature__detail .btn {
  padding: 1.6rem 3rem;
  margin-top: 2.5rem;
}
.feature__image {
  display: flex;
  justify-content: center;
}
.feature__image > img {
  width: 70%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.1rem;
  }
  .feature__detail {
    margin: 0;
    order: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .feature__title {
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  .feature__text {
    font-weight: 500;
    line-height: 3.6rem;
  }
  .feature__image {
    order: 2;
  }
  .feature__image > img {
    width: 100%;
    height: auto;
  }
  .feature__detail .btn {
    width: 50%;
  }
}

/* contact us */
.contact-us {
  display: grid;
  background-color: var(--color-white);
  grid-template-columns: 1fr;
  grid-template-areas:
    'social'
    'icons'
    'form';
}
.contact-us__form {
  background-color: red;
  grid-area: form;
}
.contact-us__map {
  background-color: violet;
  display: none;
  grid-area: map;
}

.contact-us__socials {
  grid-area: social;
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.contact-us__socials .icon-container {
  margin-left: 2.5rem;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  grid-area: icons;
}
.icon-holder {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}
.icon-holder__label {
  margin-left: 1rem;
  width: 90%;
  font-size: 1.6rem;
  line-height: 2.3rem;
  font-family: 'Graphik Web Regular';
  letter-spacing: 0.1px;
  color: #374754;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-columns: 70fr 30fr;
    grid-template-areas:
      'icons form'
      'map form'
      'social form';
  }
  .contact-us__map {
    display: block;
  }

  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-holder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-holder__label {
    margin-left: 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-family: 'Vazir';
    text-align: center;
    min-height: 9rem;
    padding: 0 1.5rem;
    display: block;
    max-width: 250px;
  }

  .contact-us__socials {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

/* icons */

.icon {
  height: 30px;
  width: 30px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
}
